BOOTSTRAP_HOST_ID=1
DIRECTORY={{ humio_data_dirs }}
HUMIO_AUDITLOG_DIR={{ humio_log_dirs }}
HUMIO_DEBUGLOG_DIR={{ humio_log_dirs }}
HUMIO_PORT=8080
ELASTIC_PORT=9200
ZOOKEEPER_URL=127.0.0.1:2181
KAFKA_SERVERS=127.0.0.1:9092
EXTERNAL_URL=http://127.0.0.1:8080
PUBLIC_URL=http://127.0.0.1
HUMIO_SOCKET_BIND=0.0.0.0
HUMIO_HTTP_BIND=0.0.0.0
